[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "oh-my-zsh/custom/pure"]
	path = oh-my-zsh/custom/pure
	url = git@github.com:rgorel/pure.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
