[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
